<button mat-icon-button (click)="exportToXls()" matTooltip="ייצוא לאקסל" class="text-success">
  <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="table_view"></mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        @for(column of tableColumns;track column){
          <ng-container matColumnDef="{{column.key}}">
            <th mat-header-cell *matHeaderCellDef class="text-start"> {{column.title}} </th>
            <td mat-cell *matCellDef="let element" class="text-start">
           @if(column.key == 'lastUpdateTime'){
               {{element[column.key] | date:'dd/MM/yyyy HH:mm:ss'}}
              }
              @else if(column.key == 'diff'){
                <span dir="ltr" [class]="element['diffChange']">
                  {{element[column.key]/100|percent:'1.2-2'}}
                </span>
              }
              @else{
                {{element[column.key]}}
              }
            </td>
          </ng-container>
        }

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

